/*markdown_box*/
.html_header {
    display: block;
    height: 60px;
    line-height: 46px;
    border-bottom: 1px solid #E6ECF1;
    text-align: left !important;
}

.html_header span::after {
    content: "QQ空间导出助手";
    font-size: 17px;
    font-weight: bold;
}

.html_header span::before {
    content: "❖";
    font-size: 19px;
    font-weight: bold;
    margin: 0 8px 0 5px;
    color: #1284d9
}

#write {
    margin: 50px 50px 50px 260px;
    padding: 20px 60px;
    max-width: unset;
    background: #fff;
    border: 1px solid #E6ECF1;
    box-shadow: 0 2px 8px rgba(116, 129, 141, .08);
    border-radius: 4px
}

.BlogAnchor {
    width: 210px !important
}

@media screen and (max-width: 1620px) {
    #write {
        margin: 40px 40px 40px 250px;
        padding: 20px 40px;
    }

    .BlogAnchor {
        width: 210px !important
    }
}

@media screen and (max-width: 1370px) {
    #write {
        margin: 30px 30px 30px 230px;
        padding: 20px 40px;
    }

    .BlogAnchor {
        width: 200px !important
    }
}

@media screen and (max-width: 1220px) {
    #write {
        margin: 20px 20px 20px 220px;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 820px) {
    #write {
        margin: 20px 20px 20px 200px;
        padding: 20px 20px;
        font-size: 15px;
        line-height: 170%
    }

    .BlogAnchor {
        width: 180px !important
    }

    .html_header span::before {
        margin-left: 0
    }

    .html_header span::after {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {
    #write {
        margin: 10px;
        padding: 16px;
        font-size: 14px;
        line-height: 160%
    }

    .BlogAnchor {
        display: none;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }
}


/*scroll_style*/
.AnchorContent {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin-right: 0 !important
}

.AnchorContent::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: rgba(0,0,0,0) !important;
    position: absolute;
    right: 10px
}

.AnchorContent::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0) !important
}

.AnchorContent::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: none;
    opacity: 0 !important;
    transition: all .3s
}

.AnchorContent:hover::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #d4d6d8;
    border-right: 2px solid #fff;
    opacity: 1;
}

.AnchorContent::-webkit-scrollbar-thumb:hover {
    background-color: #c0c2c4 !important
}


/*导航*/
.BlogAnchor {
    background: #fff;
    padding: 10px 0;
    line-height: 180%;
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    border-right: 1px solid #E6ECF1;
}

.BlogAnchor p {
    font-size: 20px;
    color: #444;
    margin: 0 16px;
    text-align: center;
}

.BlogAnchor .AnchorContent {
    padding: 5px 0px;
    overflow: auto;
}

.BlogAnchor li {
    text-indent: 1.5rem;
    font-size: 14px;
    list-style: none;
    padding: 0 0px;
}

.BlogAnchor li .nav_item {
    padding: 3px 16px;
}

.BlogAnchor li .item_h1 {
    margin-left: 0rem;
    padding-left: 3px;
    font-weight: bold;
}

.BlogAnchor li .item_h2 {
    margin-left: 0;
    font-size: 0.8rem;
    padding-left: 18px;
    color: #708090
}

.BlogAnchor li .nav_item.current {
    color: #087cd2;
    background-color: rgba(238,242,249,.8);
    border-left: 4px solid #087cd2;
    text-indent: 20px;
    font-weight: bold;
}

#AnchorContentToggle {
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    display: inline-block;
    line-height: 20px;
    background: rgb(7,196,189);
    font-style: normal;
    padding: 1px 8px;
}

.BlogAnchor a:hover {
    color: #087cd2;
    background: rgba(238,242,249,.5);
}

.BlogAnchor a {
    text-decoration: none;
    color: #333;
    display: block;
    border-radius: 0px;
}
