<!DOCTYPE html>
<html lang="zh">

<head>
	<link rel="icon" href="../Common/images/favicon.ico"> 
	<title>QQ空间备份-相册</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap/4.6.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../Common/css/common.css">
	<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/template_js@2.2.1/dist/index.aio.min.js" integrity="sha256-gnK+GsIXEBgu/mJouMDtUxXvXM3M0jzxNYmjnlsifgY=" crossorigin="anonymous"></script>
	<script src="https://cdn.staticfile.org/lodash.js/4.17.21/lodash.min.js"></script>
	<script src="https://www.lvshuncai.com/custom/js/clicklove.min.js"></script>
	
	<script type="text/javascript" src="../Common/json/config.js"></script>
	<script type="text/javascript" src="json/albums.js"></script>
	<script type="text/javascript" src="../Common/js/common.js"></script>
	<script type="text/javascript" src="../Common/js/sidebar.js"></script>
	<script type="text/javascript" src="js/albums.js"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" target="_blank"  href="https://github.com/ShunCai/QZoneExport">QQ空间导出助手</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-dark">
						<li class="breadcrumb-item"><a href="../index.html">个人中心</a></li>
						<li class="breadcrumb-item active" aria-current="page">相册</li>
					</ol>
				</nav>
			</div>
		</nav>
	</header>
	<main role="main">
		<div class="albums py-5 bg-light" style="padding-top: 4rem!important;">
			<div id="albums_html" class="container tz-gallery">
				<%/* 遍历分类 */%>
				<%for (const [className, items] of albumsMapping) {%>
					<h1 class='text-primary' data-sidebar='<%:=className%><span class="badge badge-primary badge-pill itemSize"><%:=items.length%><span>'><%:=className%></h1>
					<hr>
					<div class="row">
						<%/* 遍历相册 */%>
						<%for (const album of items) {%>
							<div class="col-md-3 mb-3">
								<div class="card thumbnail mb-3 shadow-sm">
									<span class="sidebar-h2" data-tag="h2" data-sidebar='<%:=album.name%>'></span>
									<span class="badge badge-success badge-pill album-photo-total cursor" title="相片数量"><%:=album.total%></span>
									<a href="photos.html?albumId=<%:=album.id%>" onclick="return <%:=album.allowAccess >0 && album.photoList.length >0 %>;">
										<img class="card-img" src="<%:=(album.custom_filepath || album.custom_url || album.url || album.pre)%>">
									</a>
									<div class="card-body text-truncate" data-toggle="tooltip" data-html="true" title="<%:=API.Photos.getAlbumBasicInfoTooltip(album)%>">
										<span class="card-title"><%:=API.Utils.formatContent(album.name, "HTML", false, false, false, false, true)%></span>
									</div>
									<div class="pic-num-wrap d-flex justify-content-around">
										<div class="align-self-end">
											<span class="text-light fa fa-thumbs-o-up cursor viewlikes" title="查看点赞" data-field="id" data-target="<%:=album.id%>"><%:=album.likes ? album.likes.length : 0%></span>
										</div>
										<div class="align-self-end">
											<span class="text-light fa fa-comments-o cursor viewcomments" title="查看评论" data-field="id" data-target="<%:=album.id%>"><%:=album.comments ? album.comments.length : 0%></span>
										</div>
										<div class="align-self-end">
											<span class="text-light fa fa-eye cursor viewVisitors" title="最近访问" data-field="id" data-target="<%:=album.id%>"><%:=album.custom_visitor ? album.custom_visitor.viewCount : 0%></span>
										</div>
									</div>
								</div>
							</div>
						<%}%>
					</div>
				<%}%>
			</div>
		</div>
	</main>
</body>

</html>