<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="icon" href="../Common/images/favicon.ico">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>QQ空间备份-日志</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-table/1.19.1/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../Common/css/common.css">
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-table/1.19.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-table/1.19.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/template_js@2.2.1/dist/index.aio.min.js" integrity="sha256-gnK+GsIXEBgu/mJouMDtUxXvXM3M0jzxNYmjnlsifgY=" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/lodash.js/4.17.21/lodash.min.js"></script>
	<script src="https://www.lvshuncai.com/custom/js/clicklove.min.js"></script>
	
    <script src="../Common/json/config.js"></script>
	<script src="json/blogs.js"></script>
    <script src="../Common/js/common.js"></script>
    <script src="js/blogs.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" target="_blank" href="https://github.com/ShunCai/QZoneExport">QQ空间导出助手</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-dark">
                        <li class="breadcrumb-item"><a href="../index.html">个人中心</a></li>
                        <li class="breadcrumb-item active" aria-current="page">日志</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="albums py-5 bg-light" style="padding-top: 4rem!important;">
            <div class="container-fluid tz-gallery">
                <!-- 表格方式展示 -->
                <table id="blogs-table"></table>
                <!-- 列表方式展示 -->
                <div id="blogs-list"></div>
            </div>
        </div>
    </main>
</body>

</html>