<!DOCTYPE html>
<html lang="zh">

<head>
	<link rel="icon" href="https://qzonestyle.gtimg.cn/aoi/img/logo/favicon.ico"> 
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>QQ空间备份-<%:=user.spacename%></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="common/css/common.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" target="_blank" href="https://github.com/ShunCai/QZoneExport">QQ空间导出助手</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-dark">
						<li class="breadcrumb-item active" aria-current="page">个人中心</li>
					</ol>
				</nav>
			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="container">
			<div id="index_html" class="header">
				<div class="head-avatar">
					<img src="<%:=user.custom_avatar || user.avatar%>" class="user-avatar border">
				</div>
				<div class="head-info">
					<h3 class="head-title" id="top_head_title">
						<span class="title-text ui-mr5"><%:=user.spacename%></span>
					</h3>
					<div>
						<span class="text-muted"><%:=user.desc%></span>
					</div>
				</div>
				<div class="export-tips">
					<h5>致我们终（yi）将（jing）逝去的青春</h5>
				</div>
				<div class="data-info">
					<div class="list-group list-group-horizontal-md index-list-group">
						<a href="messages/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.messages >0 %>;">
							说说<span class="badge badge-primary badge-pill"><%:=user.messages || 0%></span>
						</a>
						<a href="blogs/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.blogs >0 %>;">
							日志<span class="badge badge-primary badge-pill"><%:=user.blogs || 0%></span>
						</a>
						<a href="diaries/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.diaries >0 %>;">
							私密日记<span class="badge badge-primary badge-pill"><%:=user.diaries || 0%></span>
						</a>
						<a href="albums/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.photos >0 %>;">
							相册<span class="badge badge-primary badge-pill"><%:=user.photos || 0%></span>
						</a>
						<a href="videos/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.videos >0 %>;">
							视频<span class="badge badge-primary badge-pill"><%:=user.videos || 0%></span>
						</a>
						<a href="boards/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.boards >0 %>;">
							留言板<span class="badge badge-primary badge-pill"><%:=user.boards || 0%></span>
						</a>
						<a href="favorites/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.favorites >0 %>;">
							收藏夹<span class="badge badge-primary badge-pill"><%:=user.favorites || 0%></span>
						</a>
						<a href="shares/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.shares >0 %>;">
							分享<span class="badge badge-primary badge-pill"><%:=user.shares || 0%></span>
						</a>
						<a href="visitors/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.visitors >0 %>;">
							访客<span class="badge badge-primary badge-pill"><%:=user.visitors || 0%></span>
						</a>
						<a href="friends/index.html" class="list-group-item list-group-item-action" onclick="return <%:=user.friends >0 %>;">
							好友<span class="badge badge-primary badge-pill"><%:=user.friends || 0%></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer mt-auto py-3 bg-dark fixed-bottom mt-5">
		<div class="container text-center">
			<span class="text-white">落叶随风，青春，稍纵即逝。</span>
		</div>
	</footer>
</body>

</html>