<!DOCTYPE html>
<html lang="zh">

<head>
	<link rel="icon" href="https://qzonestyle.gtimg.cn/aoi/img/logo/favicon.ico"> 
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>QQ空间备份-说说</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.14/dist/css/lightgallery.min.css" integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../common/css/common.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.14/dist/js/lightgallery-all.min.js" integrity="sha256-0q70xbZ3GMwdiseCj/wfChJhq/3wzpNdgZinlSxSw14=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-mousewheel@3.1.13/jquery.mousewheel.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
	<script type="text/javascript" src="../common/json/messages.js"></script>
	<script type="text/javascript" src="../common/js/template.js"></script>
	<script type="text/javascript" src="../common/js/common.js"></script>
	<script type="text/javascript" src="../common/js/sidebar.js"></script>
	<script type="text/javascript" src="../common/js/messages.js"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" target="_blank" href="https://github.com/ShunCai/QZoneExport">QQ空间导出助手</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-dark">
						<li class="breadcrumb-item"><a href="../index.html">个人中心</a></li>
						<li class="breadcrumb-item active" aria-current="page">说说</li>
					</ol>
				</nav>
			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
		<div id="messages_html" class="container messages">
			<%/* 遍历年份 */%>
			<%for (var yearMap of messageMaps) {%>
				<%/* 年份 */%>
				<span class="sidebar-h1" data-tag="h1" data-sidebar="<%:=yearMap[0]%>年"></span>
				<%for (var monthMap of yearMap[1]) {%>
					<%/* 月份 */%>
					<span class="sidebar-h2" data-tag="h2" data-sidebar="<%:=monthMap[0]%>月"></span>
					<%/* 月份数据 */%>
					<%for (let index = 0; index < monthMap[1].length; index++) {%>
						<%const message = monthMap[1][index]%>
						<%total = total -1%>
						<div class="card w-70 mt-3 border">
							<div class="card-body">
								<div class="p-1 comments">
									<div class="container comment  m-1 p-0">
										<a class="me-a avatar p-0 m-0" target="_blank" href="<%:=API.Common.getUserUrl(message.uin)%>">
											<img class="w-100 h-100 border rounded-circle" src="<%:=API.Common.getUserLogoUrl(message.uin)%>">
										</a>
										<div class="ml-4">
											<div class="messageText ml-4 container m-2">
												<%/* 说说内容 */%>
												<%/* 说说全文 */%>
												<%if(message.has_more_con){%>
													<details>
														<summary>查看全文</summary>
														<div class="container">
															<%:=API.Common.formatContent(message, "HTML", false, false)%>
														</div>
													</details>
												<%}else{%>
													<pre class="card-text content"><%:=API.Common.formatContent(message, "HTML", false, false)%></pre>
												<%}%>
												<%/* 语音内容 */%>
												<%if(message.custom_voices){%>
													<%for (const voice of message.custom_voices) {%>
														<audio controls src="<%:=(voice.custom_filepath || voice.custom_url)%>"></audio>
													<%}%>
												<%}%>
												<%/* 转发内容 */%>
												<%if(message.rt_tid){%>
													<hr>
													<a class="float-left" target="_blank" href="<%:=API.Common.getUserUrl(message.rt_uin)%>">
														<span class="text-info"><%:=API.Common.formatContent(message.rt_uinname)%>：</span>
													</a>
													<%/* 转发全文 */%>
													<%if(message.rt_has_more_con && message.rt_con){%>
														<details class="float-left ml-3" >
															<summary>查看全文</summary>
															<div class="container">
																<%:=API.Common.formatContent(message, "HTML", true, false)%>
															</div>
														</details>
													<%}else{%>
														<pre class="card-text content"><%:=API.Common.formatContent(message, "HTML", true, false)%></pre>
													<%}%>
												<%}%>
												<%/* 多媒体内容 */%>
												<div class="medias row p-3 lightgallery <%:=API.Common.getImgClassType(message)%>">
													<%/* 视频内容（一般为单视频） */%>
													<%if(message.custom_videos){%>
														<%for(let video of message.custom_videos){%>
															<%if (API.Videos.isExternalVideo(video)) {%>
																<a class="medias-item border message-lightbox-external" href="<%:=API.Videos.getVideoUrl(video)%>" target="_blank">
																	<span class="message-video"></span>
																	<img class="lazyload w-100 h-100" data-src="<%:=video.custom_pre_filepath || video.custom_pre_url || video.url1%>">
																</a>
															<%}else{%>
																<%/* 空间视频 */%>
																<a class="medias-item border message-lightbox" data-poster="<%:=video.custom_pre_filepath || video.custom_pre_url || video.url1%>" data-html="#<%:=video.video_id || video.vid || video.pic_id%>">
																	<span class="message-video"></span>
																	<div style="display:none;" id="<%:=video.video_id || video.vid || video.pic_id%>">
																		<video class="lg-video-object lg-html5" src="<%:=(video.custom_filepath || video.custom_url || video.url3)%>" controls="controls"></video>
																	</div>
																	<img class="lazyload w-100 h-100" data-src="<%:=video.custom_pre_filepath || video.custom_pre_url || video.url1%>" />
																</a>
															<%}%>
														<%}%>
													<%}%>
													<%/*  图片内容(含视频，即同时存在图片与视频) */%>
													<%if(message.custom_images){%>
														<%for(let image of message.custom_images){%>
															<%if(image.is_video && image.video_info){%>
																<%if (API.Videos.isExternalVideo(image.video_info)) {%>
																	<a class="medias-item border message-lightbox-external" href="<%:=API.Videos.getVideoUrl(image.video_info)%>" target="_blank">
																		<span class="message-video"></span>
																		<img class="lazyload w-100 h-100" data-src="<%:=image.video_info.custom_pre_filepath || image.video_info.custom_pre_url || image.video_info.url1%>">
																	</a>
																<%}else{%>
																	<%/* 空间视频 */%>
																	<a class="medias-item border message-lightbox" data-poster="<%:=image.video_info.custom_pre_filepath || image.video_info.custom_pre_url || image.video_info.url1%>" data-html="#<%:=image.video_info.video_id || image.video_info.vid || image.pic_id%>">
																		<span class="message-video"></span>
																		<div style="display:none;" id="<%:=image.video_info.video_id || image.video_info.vid || image.pic_id%>">
																			<video class="lg-video-object lg-html5" src="<%:=(image.video_info.custom_filepath || image.video_info.custom_url || image.video_info.url3)%>" controls="controls"></video>
																		</div>
																		<img class="lazyload w-100 h-100" data-src="<%:=image.video_info.custom_pre_filepath || image.video_info.custom_pre_url || image.video_info.url1%>" />
																	</a>
																<%}%>
															<%}else{%>
																<a class="medias-item border message-lightbox" data-src="<%:=(image.custom_filepath || image.custom_url)%>">
																	<img class="lazyload w-100 h-100" data-src="<%:=(image.custom_filepath || image.custom_url)%>">
																</a>
															<%}%>
														<%}%>
													<%}%>
													<%/* 动画表情内容（目前只支持一个） */%>
													<%if(message.custom_magics){%>
														<%for(let image of message.custom_magics){%>
															<a class="medias-item border message-lightbox" data-src="<%:=(image.custom_filepath || image.custom_url)%>">
																<img class="lazyload w-100 h-100" data-src='<%:=(image.custom_filepath || image.custom_url)%>'>
															</a>
															<hr>
														<%}%>
													<%}%>
												</div>
												<%/* 音乐内容（目前已无法正常播放，直接显示专辑图片与歌曲信息） */%>
												<%if(message.custom_audios && message.audiototal > 0){%>
													<div class="medias row p-3">
														<ul class="list-unstyled w-100">
															<%for(let music of message.custom_audios){%>
																<li class="border">
																	<a class="medias-item text-center" data-src="<%:=(music.custom_filepath || music.image)%>" href="<%:=music.playurl%>">
																		<img class="lazyload border" data-src="<%:=(music.custom_filepath || music.image)%>">
																		<span><%:=music.name%></span>
																	</a>
																</li>
															<%}%>
														</ul>
													</div>
												<%}%>
												<%/* 投票内容（待定） */%>
												<%/* 说说评论 */%>
												<%if(message.custom_comments && message.custom_comments.length > 0){%>
													<%/* 遍历评论 */%>
													<%for(let comment of message.custom_comments){%>
														<div class="p-1 border-top comments mt-3">
															<div class="container comment  m-1 p-0">
																<a class="me-a avatar p-0 m-0" target="_blank" href="<%:=API.Common.getUserUrl(comment.uin)%>">
																	<img class="lazyload w-100 border rounded-circle" data-src="<%:=API.Common.getUserLogoUrl(comment.uin)%>" >
																</a>
																<div class="ml-4">
																	<%/* 评论 */%>
																	<div class="container ml-4">
																		<a class="author">
																			<a target="_blank" href="<%:=API.Common.getUserUrl(comment.uin)%>">
																				<span><%:=API.Common.formatContent(comment.name)%></span>
																			</a>
																			<%if(comment.private){%>
																				<span class="text-info"> 私密评论 </span>
																			<%}%>
																			<br>
																			<span class="text-muted small"><%:=comment.createTime2%></span>
																		</a>
																	</div>
																	<div class="messageText ml-4 container m-1">
																		<%/* 评论内容 */%>
																		<p><%:=API.Common.formatContent(comment.content)%></p>
																		<%/* 评论图片 */%>
																		<%if(comment.pic){%>
																			<%for(let image of comment.pic){%>
																				<img src="<%:=(image.custom_filepath || image.custom_url)%>" class="comment-img img-thumbnail">
																			<%}%>
																		<%}%>
																	</div>
																	<%/* 评论回复 */%>
																	<%if(comment.list_3){%>
																		<%for(let reply of comment.list_3){%>
																			<div class="comments m-1">
																				<div class="container comment  m-3 p-0">
																					<a class="me-a avatar p-0 m-0 " target="_blank" href="<%:=API.Common.getUserUrl(reply.uin)%>">
																						<img class="lazyload w-100 border rounded-circle" data-src="<%:=API.Common.getUserLogoUrl(reply.uin)%>">
																					</a>
																					<div class=" ml-4  ">
																						<div class="container ml-4">
																							<a class="author">
																								<a target="_blank" href="<%:=API.Common.getUserUrl(reply.uin)%>">
																									<span class="text-info"><%:=API.Common.formatContent(reply.name)%></span>
																								</a>
																								<%if(reply.private){%>
																									<span class="text-info"> 私密回复 </span>
																								<%}%>
																								<br>
																								<span class="text-muted small"><%:=API.Common.formatContent(reply.createTime2)%></span>
																							</a>
																						</div>
																						<div class="messageText ml-4 container m-1">
																							<%/* 回复内容 */%>
																							<p><%:=API.Common.formatContent(reply.content)%></p>
																							<%/* 回复图片 */%>
																							<%if(reply.pic){%>
																								<%for(let image of reply.pic){%>
																									<img src="<%:=(image.custom_filepath || image.custom_url)%>" class="comment-img img-thumbnail">
																								<%}%>
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>
																	<%}%>
																</div>
															</div>
														</div>
													<%}%>
												<%}%>
											</div>
											<ul class="list-group list-group-flush ml-4">
												<%if(message.lbs && message.lbs.pos_x && message.lbs.pos_y){%>
													<li class="list-group-item">
														<a class="fa fa-map-marker" target="_blank" href="<%:=API.Messages.getMapUrl(message.lbs)%>" class="card-link"> <%:=message.lbs.idname || message.lbs.name%></a>
													</li>
												<%}%>
												<%if(message.source_name){%>
													<li class="list-group-item">
														<%if(message.source_url){%>
															<span class="text-info"><a target="_blank" href="<%:=message.source_url%>"><%:=API.Common.formatContent(message.source_name)%></a></span>
														<%}else{%>
															<span class="text-info fa fa-mobile-phone"> <%:=API.Common.formatContent(message.source_name)%></span>
														<%}%>
													</li>	
												<%}%>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer text-muted">
								<%:=API.Common.formatContent(message.custom_create_time)%>
								<span class="border-primary border rounded text-primary small p-1 float-right" title="当前楼层">#<%:=total + 1 %></span>
								<span class="text-primary p-1 float-right fa fa-thumbs-up mr-2 cursor viewlikes" title="点赞列表" data-field="tid" data-target="<%:=message.tid%>"><%:=message.likeTotal || 0 %></span>
								<span class="text-primary p-1 float-right fa fa-eye mr-2 cursor viewVisitors" title="最近访问" data-field="tid" data-target="<%:=message.tid%>"><%:=message.custom_visitor && message.custom_visitor.viewCount || 0 %></span>
							</div>
						</div>
					<%}%>
				<%}%>
			<%}%>
		</div>
	</main>
</body>

</html>