<!DOCTYPE html>
<html lang="zh">

<head>
	<link rel="icon" href="https://qzonestyle.gtimg.cn/aoi/img/logo/favicon.ico"> 
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>QQ空间备份-说说</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/css/lightgallery.css" integrity="sha256-u/8xxXqgHmqInTUqModtj8UvjfzppMhunF8mGI5gpAM=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/css/lightgallery-bundle.min.css" integrity="sha256-S8sL5U5HwTa3JmR1y0ASCyQH111hgvPpKOkYXZHa4sA=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../Common/css/common.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-mousewheel@3.1.13/jquery.mousewheel.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/lightgallery.min.js" integrity="sha256-dkTk5cgrLUjjQiGNZsoDnjhCI+UuhTffLnyrN7qLutw=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/zoom/lg-zoom.min.js" integrity="sha256-6Ny31P8WSBcY1SFaWxg4zgDzZJNNIJ4BchV+RxFiDR0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/video/lg-video.min.js" integrity="sha256-lkYYtHLEk1Rnr3TOXc/l1tfObPXEzvgKwePG49fZ1Rw=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha256-X+UxSQGUfsYDhXAsKkzoI2g7Jjn7wWK/vzRfcmYNop4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/rotate/lg-rotate.min.js" integrity="sha256-G1VF4wLKwDc+R5n/GbOkQFhdhGEKXve+GUlrdyRKXaE=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/fullscreen/lg-fullscreen.min.js" integrity="sha256-7SXgJ9rT6uPHY7fse2NsZN7Yq96f+9I35bDtUwX8ZHc=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/comment/lg-comment.min.js" integrity="sha256-RszgszIiPRvEWMviw43SzoZwsvKZNbz2Djio7kUemrY=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/autoplay/lg-autoplay.min.js" integrity="sha256-XGqZJI2/fqI+ph7+msYWRIi9NLzsZ2PlhrhltWEUmOM=" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/template_js@2.2.1/dist/index.aio.min.js" integrity="sha256-gnK+GsIXEBgu/mJouMDtUxXvXM3M0jzxNYmjnlsifgY=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../Common/json/config.js"></script>
	<script type="text/javascript" src="json/messages.js"></script>
	<script type="text/javascript" src="../Common/js/common.js"></script>
	<script type="text/javascript" src="../Common/js/sidebar.js"></script>
	<script type="text/javascript" src="js/messages.js"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" target="_blank" href="https://github.com/ShunCai/QZoneExport">QQ空间导出助手</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-dark">
						<li class="breadcrumb-item"><a href="../index.html">个人中心</a></li>
						<li class="breadcrumb-item active" aria-current="page">说说</li>
					</ol>
				</nav>
			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
		<div id="messages_html" class="container messages">
			<%/* 遍历年份 */%>
			<%for (var yearMap of messageMaps) {%>
				<%/* 年份 */%>
				<span class="sidebar-h1" data-tag="h1" data-sidebar="<%:=yearMap[0]%>年"></span>
				<%for (var monthMap of yearMap[1]) {%>
					<%/* 月份 */%>
					<span class="sidebar-h2" data-tag="h2" data-sidebar="<%:=monthMap[0]%>月"></span>
					<%/* 月份数据 */%>
					<%for (let index = 0; index < monthMap[1].length; index++) {%>
						<%const message = monthMap[1][index]%>
						<%total = total -1%>
						<div class="card w-70 mt-3 border">
							<div class="card-body">
								<div class="p-1 comments">
									<div class="container comment  m-1 p-0">
										<a class="me-a avatar p-0 m-0" target="_blank" href="<%:=API.Common.getUserUrl(message.uin)%>">
											<img class="w-100 h-100 border rounded-circle" src="<%:=API.Common.getUserLogoUrl(message.uin)%>">
										</a>
										<div class="ml-4">
											<div class="messageText ml-4 container m-2">
												<%/* 说说内容 */%>
												<%/* 说说全文 */%>
												<pre class="card-text content <%:=message.has_more_con ? 'hasMore' : ''%> <%:=config.Messages.isShowMore ? 'more' : ''%> "><%:=API.Common.formatContent(message, "HTML", false, false)%></pre>
												<%if(message.has_more_con){%>
													<span class="fa fa-2x <%:=config.Messages.isShowMore ? 'fa-angle-up' : 'fa-angle-down'%> cursor <%:=config.Messages.isShowMore ? 'more' : ''%> readMore" title="<%:=config.Messages.isShowMore ? '收起全文' : '展开全文'%>"></span>
												<%}%>
												<%/* 语音内容 */%>
												<%if(message.custom_voices){%>
													<%for (const voice of message.custom_voices) {%>
														<audio controls src="<%:=(voice.custom_filepath || voice.custom_url)%>"></audio>
													<%}%>
												<%}%>
												<%/* 转发内容 */%>
												<%if(message.rt_tid){%>
													<hr>
													<a class="float-left" target="_blank" href="<%:=API.Common.getUserUrl(message.rt_uin)%>">
														<span class="text-info"><%:=API.Common.formatContent(message.rt_uinname)%>：</span>
													</a>
													<%/* 转发全文 */%>
													<pre class="card-text content <%:=message.has_more_con ? 'hasMore' : ''%> <%:=config.Messages.isShowMore ? 'more' : ''%> "><%:=API.Common.formatContent(message, "HTML", true, false)%></pre>
													<%if(message.rt_has_more_con && message.rt_con){%>
														<span class="fa fa-2x <%:=config.Messages.isShowMore ? 'fa-angle-up' : 'fa-angle-down'%> cursor readMore" title="<%:=config.Messages.isShowMore ? '收起全文' : '展开全文'%>"></span>
													<%}%>
												<%}%>
												<%/* 查看大图的详情 */%>
												<div id="<%:= 'QZIMG-'+ message.tid%>" class='photo-detail' style="display:none">
													<div class="container">
														<div class="row">
															<div class="col-sm text-white-50 text-left">
																<p>
																	<i title="发表时间" class="fa fa-clock-o text-primary"><%:=API.Utils.formatDate(message.created_time)%></i>
																</p>
																<p>
																	<%if(!(!message.story_info || !message.story_info.time || !message.story_info.lbs)){%>
																		<a class="fa fa-map-marker text-primary" target="_blank" href="<%:=API.Messages.getMapUrl(message.story_info.lbs)%>" class="card-link"><%:=message.story_info.lbs.idname || message.story_info.lbs.name%></a> 
																		<span class="fa fa-camera text-muted">拍摄于 <%:=API.Utils.formatDate(message.story_info.time)%> </span>
																	<%}else{%>
																		<%if(message.lbs && message.lbs.pos_x && message.lbs.pos_y){%>
																			<a title="上传地点" class="text-primary" href="<%:=API.Messages.getMapUrl(message.lbs)%>" target="_blank"><i class="fa fa-map-marker"></i><%:=message.lbs.idname || message.lbs.name%></a>
																		<%}%>
																	<%}%>
																</p>
															</div>
															<div class="col-sm">
																<p class="text-white">
																	<%:=API.Common.formatContent(message, "HTML", false, false)%>
																</p>
															</div>
															<div class="col-sm"></div>
														</div>
													</div>
												</div>
												<%/* 多媒体内容 */%>
												<div id="<%:= 'QZ-'+ message.tid%>" class="medias row p-3 lightgallery <%:=API.Common.getImgClassType(message)%>">
													<%/* 视频内容（一般为单视频） */%>
													<%if(message.custom_videos){%>
														<%let imgIdx = 0%>
														<%for(let video of message.custom_videos){%>
															<%if (API.Videos.isExternalVideo(video)) {%>
																<a class="medias-item border message-lightbox-external" href="<%:=API.Videos.getVideoUrl(video)%>" target="_blank">
																	<span class="message-video"></span>
																	<img class="lazyload loading w-100 h-100" src="../Common/Images/loading.gif" data-src="<%:=video.custom_pre_filepath || video.custom_pre_url || video.url1%>">
																</a>
															<%}else{%>
																<%/* 空间视频 */%>
																<a class="medias-item border message-lightbox" data-idx="<%:=imgIdx%>" data-video='{"source": [{"src":"<%:=(video.custom_filepath || video.custom_url || video.url3)%>", "type":"video/mp4"}],"attributes": {"preload": false, "controls": true}}'
																	data-poster="<%:=video.custom_pre_filepath || video.custom_pre_url || video.url1%>" data-sub-html="#<%:= 'QZIMG-'+ message.tid%>">
																	<span class="message-video"></span>
																	<img class="lazyload loading w-100 h-100" data-id="<%:=video.video_id%>" src="../Common/Images/loading.gif"  data-src="<%:=video.custom_pre_filepath || video.custom_pre_url || video.url1%>" />
																</a>
																<%imgIdx++%>
															<%}%>
														<%}%>
													<%}%>
													<%/*  图片内容(含视频，即同时存在图片与视频) */%>
													<%if(message.custom_images){%>
														<%let imgIdx = 0%>
														<%for(let image of message.custom_images){%>
															<%if(image.is_video && image.video_info){%>
																<%if (API.Videos.isExternalVideo(image.video_info)) {%>
																	<a class="medias-item border message-lightbox-external" href="<%:=API.Videos.getVideoUrl(image.video_info)%>" target="_blank">
																		<span class="message-video"></span>
																		<img class="lazyload loading w-100 h-100" src="../Common/Images/loading.gif" data-src="<%:=image.video_info.custom_pre_filepath || image.video_info.custom_pre_url || image.video_info.url1%>">
																	</a>
																<%}else{%>
																	<%/* 空间视频 */%>
																	<a class="medias-item border message-lightbox" data-idx="<%:=imgIdx%>" data-video='{"source": [{"src":"<%:=(image.video_info.custom_filepath || image.video_info.custom_url || image.video_info.url3)%>", "type":"video/mp4"}],"attributes": {"preload": false, "controls": true}}'
																		data-poster="<%:=image.video_info.custom_pre_filepath || image.video_info.custom_pre_url || image.video_info.url1%>" data-sub-html="#<%:= 'QZIMG-'+ message.tid%>">
																		<span class="message-video"></span>
																		<img class="lazyload loading w-100 h-100" data-id="<%:=image.video_info.video_id%>" src="../Common/Images/loading.gif" data-src="<%:=image.video_info.custom_pre_filepath || image.video_info.custom_pre_url || image.video_info.url1%>" />
																	</a>
																	<%imgIdx++%>
																<%}%>
															<%}else{%>
																<a class="medias-item border message-lightbox" data-idx="<%:=imgIdx%>" data-src="<%:=(image.custom_filepath || image.custom_url)%>" data-sub-html="#<%:= 'QZIMG-'+ message.tid%>">
																	<img class="lazyload loading w-100 h-100" data-id="<%:=image.pic_id%>" src="../Common/Images/loading.gif" src="../Common/Images/loading.gif" data-src="<%:=(image.custom_filepath || image.custom_url)%>">
																</a>
																<%imgIdx++%>
															<%}%>
														<%}%>
													<%}%>
													<%/* 动画表情内容（目前只支持一个） */%>
													<%if(message.custom_magics){%>
														<%for(let image of message.custom_magics){%>
															<a class="medias-item border" data-src="<%:=(image.custom_filepath || image.custom_url)%>">
																<img class="lazyload loading w-100 h-100" data-src='<%:=(image.custom_filepath || image.custom_url)%>'>
															</a>
															<hr>
														<%}%>
													<%}%>
												</div>
												<%/* 音乐内容（目前已无法正常播放，直接显示专辑图片与歌曲信息） */%>
												<%if(message.custom_audios && message.audiototal > 0){%>
													<div class="medias row p-3">
														<ul class="list-unstyled w-100">
															<%for(let music of message.custom_audios){%>
																<li class="border">
																	<a class="medias-item text-center" data-src="<%:=(music.custom_filepath || music.image)%>" href="<%:=music.playurl%>">
																		<img class="lazyload loading border" data-src="<%:=(music.custom_filepath || music.image)%>">
																		<span><%:=music.name%></span>
																	</a>
																</li>
															<%}%>
														</ul>
													</div>
												<%}%>
												<%/* 投票内容（待定） */%>
												<%/* 说说评论 */%>
												<%if(message.custom_comments && message.custom_comments.length > 0){%>
													<%/* 遍历评论 */%>
													<%for(let comment of message.custom_comments){%>
														<div class="border-bottom comments mt-3">
															<div class="container comment">
																<a class="me-a avatar p-0 m-0" target="_blank" href="<%:=API.Common.getUserUrl(comment.poster && comment.poster.id || comment.uin)%>">
																	<img class="lazyload loading w-100 h-100 border rounded-circle" src="<%:=API.Common.getUserLogoUrl(comment.poster && comment.poster.id || comment.uin)%>" >
																</a>
																<div class="ml-5">
																	<div class="container">
																		<a class="author">
																			<a target="_blank" href="<%:=API.Common.getUserUrl(comment.poster && comment.poster.id || comment.uin)%>">
																				<span><%:=API.Common.formatContent(comment.poster && comment.poster.name || comment.name)%></span>
																			</a>
																			<%if(comment.private){%>
																				<span class="text-info"> 私密评论 </span>
																			<%}%>
																			<br>
																			<span class="text-muted small"><%:=API.Utils.formatDate(comment.postTime || comment.create_time)%></span>
																		</a>
																	</div>
																	<div class="messageText container">
																		<p><%:=API.Common.formatContent(comment.content)%></p>
																		<%if(comment.pic){%>
																			<div class="comment-lightgallery">
																				<%for (let cmIdx = 0; cmIdx < comment.pic.length; cmIdx++) {%>
																					<%const image = comment.pic[cmIdx];%>
																					<a class="comment-img-lightbox" data-idx="<%:=cmIdx%>" data-sub-html="<%:=API.Common.formatContent(comment.content)%>"
																						data-src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>">
																						<img src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>" class="comment-img img-thumbnail">
																					</a>
																				<%}%>
																			</div>
																		<%}%>
																	</div>
																	<% const replies = comment.replies || comment.list_3 || []%>
																	<%if(replies.length > 0){%>
																		<%for(const reply of replies){%>
																			<div class="comments">
																				<div class="container comment p-0">
																					<a class="me-a avatar p-0 m-0 " target="_blank" href="<%:=API.Common.getUserUrl(reply.poster && reply.poster.id || reply.uin)%>">
																						<img class="lazyload loading w-100 h-100 border rounded-circle" src="<%:=API.Common.getUserLogoUrl(reply.poster && reply.poster.id || reply.uin)%>">
																					</a>
																					<div class="ml-5">
																						<div class="container">
																							<a class="author">
																								<a target="_blank" href="<%:=API.Common.getUserUrl(reply.poster && reply.poster.id || reply.uin)%>">
																									<span class="text-info"><%:=API.Common.formatContent(reply.poster && reply.poster.name || reply.name)%></span>
																								</a>
																								<%if(reply.private){%>
																									<span class="text-info"> 私密回复 </span>
																								<%}%>
																								<br>
																								<span class="text-muted small"><%:=API.Utils.formatDate(reply.postTime || reply.create_time)%></span>
																							</a>
																						</div>
																						<div class="messageText container">
																							<p><%:=API.Common.formatContent(reply.content)%></p>
																							<%if(reply.pic){%>
																								<div class="comment-lightgallery">
																									<%for (let cmIdx = 0; cmIdx < reply.pic.length; cmIdx++) {%>
																										<%const image = reply.pic[cmIdx];%>
																										<a class="comment-img-lightbox" data-idx="<%:=cmIdx%>" data-sub-html="<%:=API.Common.formatContent(comment.content)%>" 
																											data-src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>">
																											<img src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>" class="comment-img img-thumbnail">
																										</a>
																									<%}%>
																								</div>
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>
																	<%}%>
																</div>
															</div>
														</div>
													<%}%>
												<%}%>
											</div>
											<ul class="message-infos list-group list-group-flush ml-4">
												<%if(message.lbs && message.lbs.pos_x && message.lbs.pos_y){%>
													<li class="list-group-item">
														<a class="fa fa-map-marker" target="_blank" href="<%:=API.Messages.getMapUrl(message.lbs)%>" class="card-link"> <%:=message.lbs.idname || message.lbs.name%></a>
													</li>
												<%}%>
												<%if(!(!message.story_info || !message.story_info.time || !message.story_info.lbs)){%>
													<li class="list-group-item">
														<a class="fa fa-map-marker" target="_blank" href="<%:=API.Messages.getMapUrl(message.story_info.lbs)%>" class="card-link"><%:=message.story_info.lbs.idname || message.story_info.lbs.name%></a> 
														<span class="fa fa-camera text-muted">拍摄于 <%:=API.Utils.formatDate(message.story_info.time)%> </span>
													</li>
												<%}%>
												<%if(message.source_name){%>
													<li class="list-group-item">
														<%if(message.source_url){%>
															<span class="text-info"><a target="_blank" href="<%:=message.source_url%>"><%:=API.Common.formatContent(message.source_name)%></a></span>
														<%}else{%>
															<span class="text-info fa fa-mobile-phone"> <%:=API.Common.formatContent(message.source_name)%></span>
														<%}%>
													</li>	
												<%}%>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer text-muted">
								<%:=API.Common.formatContent(message.custom_create_time)%>
								<span class="border-primary border rounded text-primary small p-1 float-right" title="当前楼层">#<%:=total + 1 %></span>
								<span class="text-primary p-1 float-right fa fa-thumbs-up mr-2 cursor viewlikes" title="点赞列表" data-field="tid" data-target="<%:=message.tid%>"><%:=message.likeTotal || 0 %></span>
								<span class="text-primary p-1 float-right fa fa-eye mr-2 cursor viewVisitors" title="最近访问" data-field="tid" data-target="<%:=message.tid%>"><%:=message.custom_visitor && message.custom_visitor.viewCount || 0 %></span>
							</div>
						</div>
					<%}%>
				<%}%>
			<%}%>
		</div>
	</main>
</body>

</html>