<!DOCTYPE html>
<html lang="zh">

<head>
	<link rel="icon" href="https://qzonestyle.gtimg.cn/aoi/img/logo/favicon.ico"> 
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>QQ空间备份-分享</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/css/lightgallery.css" integrity="sha256-u/8xxXqgHmqInTUqModtj8UvjfzppMhunF8mGI5gpAM=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/css/lightgallery-bundle.min.css" integrity="sha256-S8sL5U5HwTa3JmR1y0ASCyQH111hgvPpKOkYXZHa4sA=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../Common/css/common.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/lightgallery.min.js" integrity="sha256-dkTk5cgrLUjjQiGNZsoDnjhCI+UuhTffLnyrN7qLutw=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/zoom/lg-zoom.min.js" integrity="sha256-6Ny31P8WSBcY1SFaWxg4zgDzZJNNIJ4BchV+RxFiDR0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/video/lg-video.min.js" integrity="sha256-lkYYtHLEk1Rnr3TOXc/l1tfObPXEzvgKwePG49fZ1Rw=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha256-X+UxSQGUfsYDhXAsKkzoI2g7Jjn7wWK/vzRfcmYNop4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/rotate/lg-rotate.min.js" integrity="sha256-G1VF4wLKwDc+R5n/GbOkQFhdhGEKXve+GUlrdyRKXaE=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/fullscreen/lg-fullscreen.min.js" integrity="sha256-7SXgJ9rT6uPHY7fse2NsZN7Yq96f+9I35bDtUwX8ZHc=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/comment/lg-comment.min.js" integrity="sha256-RszgszIiPRvEWMviw43SzoZwsvKZNbz2Djio7kUemrY=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0/plugins/autoplay/lg-autoplay.min.js" integrity="sha256-XGqZJI2/fqI+ph7+msYWRIi9NLzsZ2PlhrhltWEUmOM=" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/jquery-mousewheel@3.1.13/jquery.mousewheel.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/template_js@2.2.1/dist/index.aio.min.js" integrity="sha256-gnK+GsIXEBgu/mJouMDtUxXvXM3M0jzxNYmjnlsifgY=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../Common/json/config.js"></script>
	<script type="text/javascript" src="json/shares.js"></script>
	<script type="text/javascript" src="../Common/js/common.js"></script>
	<script type="text/javascript" src="../Common/js/sidebar.js"></script>
	<script type="text/javascript" src="js/shares.js"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" target="_blank" href="https://github.com/ShunCai/QZoneExport">QQ空间导出助手</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-dark">
						<li class="breadcrumb-item"><a href="../index.html">个人中心</a></li>
						<li class="breadcrumb-item active" aria-current="page">分享</li>
					</ol>
				</nav>
			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
		<div id="shares_html" class="container messages">
			<%for (const [year, yearMap] of sharesMaps) {%>
				<span class="sidebar-h1" data-tag="h1" data-sidebar='<%:=year%>年<span class="badge badge-primary badge-pill itemSize"><%:=API.Utils.sumYearItemSize(yearMap)%><span>'></span>
				<%for (const [month, monthItems] of yearMap) {%>
					<span class="sidebar-h2" data-tag="h2" data-sidebar='<%:=month%>月<span class="badge badge-primary badge-pill itemSize"><%:=monthItems.length%><span>'></span>
					<%for (let index = 0; index < monthItems.length; index++) {%>
						<%const share = monthItems[index]%>
						<%total = total -1%>
						<div class="card w-70 mt-3 border">
							<div class="card-body">
								<div class="p-1 comments">
									<div class="container comment  m-1 p-0">
										<a class="me-a avatar p-0 m-0" target="_blank" href="<%:=API.Common.getUserUrl(share.uin)%>">
											<img class="w-100 h-100 border rounded-circle" src="<%:=API.Common.getUserLogoUrl(share.uin)%>">
										</a>
										<div class="ml-4">
											<div class="messageText ml-4 container m-2">
												<%/* 分享描述 */%>
												<p id="<%:='Shares-Desc-' + share.id%>"><a target="_blank" href="<%:=API.Common.getUserUrl(share.uin)%>"><%:=API.Common.formatContent(share.nickname)%></a> <span class="text-secondary">分享<span class="border-warning border rounded text-warning small p-1"><%:=API.Shares.getDisplayType(share.type)%></span>：</span><%:=API.Common.formatContent(share.desc, "HTML", false, false)%></p>
												<%/* 分享源标题 */%>
												<%if(share.source && share.source.title){%>
													<p>《<a target="_blank" href="<%:=share.source.url%>"><%:=share.source.title%></a>》</p>
												<%}%>
												<%/* 分享源描述 */%>
												<%if(share.source && share.source.desc){%>
													<p><%:=API.Common.formatContent(share.source.desc, "HTML", false, false)%></p>
												<%}%>
												<%/* 分享内容 */%>
												<%/* 多媒体内容 */%>
												<div id="<%:='Shares-LG-' + share.id%>" class="medias row p-3 lightgallery <%:=API.Common.getImgClassType(share,true)%>">
													<%/*  分享源图片 */%>
													<%if(share.source.images){%>
														<%for (let idx = 0; idx < share.source.images.length; idx++) {%>
															<%const image = share.source.images[idx];%>
															<a class="medias-item border message-lightbox" data-idx="<%:=idx%>" data-src="<%:=(image.custom_filepath || image.custom_url)%>" data-sub-html="#<%:='Shares-Desc-' + share.id%>">
																<img class="lazyload loading w-100 h-100" data-idx="<%:=idx%>" data-src="<%:=(image.custom_filepath || image.custom_url)%>">
															</a>
														<%}%>
													<%}%>
												</div>
												<%/* 分享评论 */%>
												<%if(share.comments && share.comments.length > 0){%>
													<%/* 遍历评论 */%>
													<%for(let comment of share.comments){%>
														<div class="p-1 border-top comments mt-3">
															<div class="container comment  m-1 p-0">
																<a class="me-a avatar p-0 m-0" target="_blank" href="<%:=API.Common.getUserUrl(comment.poster.id)%>">
																	<img class="lazyload loading w-100 h-100 border rounded-circle" data-src="<%:=API.Common.getUserLogoUrl(comment.poster.id)%>" >
																</a>
																<div class="ml-4">
																	<%/* 评论 */%>
																	<div class="container ml-4">
																		<a class="author">
																			<a target="_blank" href="<%:=API.Common.getUserUrl(comment.poster.id)%>">
																				<span><%:=API.Common.formatContent(comment.poster.name)%></span>
																			</a>
																			<%if(comment.private){%>
																				<span class="text-info"> 私密评论 </span>
																			<%}%>
																			<br>
																			<span class="text-muted small"><%:=API.Utils.formatDate(comment.postTime)%></span>
																		</a>
																	</div>
																	<div class="messageText ml-4 container m-1">
																		<%/* 评论内容 */%>
																		<p><%:=API.Common.formatContent(comment.content)%></p>
																		<%/* 评论图片 */%>
																		<%if(comment.pic){%>
																			<div class="comment-lightgallery">
																				<%for (let cmIdx = 0; cmIdx < comment.pic.length; cmIdx++) {%>
																					<%const image = comment.pic[cmIdx];%>
																					<a class="comment-img-lightbox" data-idx="<%:=cmIdx%>" data-sub-html="<%:=API.Common.formatContent(comment.content)%>"
																						data-src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>">
																						<img src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>" class="comment-img img-thumbnail">
																					</a>
																				<%}%>
																			</div>
																		<%}%>
																	</div>
																	<%/* 评论回复 */%>
																	<%if(comment.replies){%>
																		<%for(let reply of comment.replies){%>
																			<div class="comments m-1">
																				<div class="container comment  m-3 p-0">
																					<a class="me-a avatar p-0 m-0 " target="_blank" href="<%:=API.Common.getUserUrl(reply.poster.id)%>">
																						<img class="lazyload loading w-100 h-100 border rounded-circle" data-src="<%:=API.Common.getUserLogoUrl(reply.poster.id)%>">
																					</a>
																					<div class=" ml-4  ">
																						<div class="container ml-4">
																							<a class="author">
																								<a target="_blank" href="<%:=API.Common.getUserUrl(reply.poster.id)%>">
																									<span class="text-info"><%:=API.Common.formatContent(reply.poster.name)%></span>
																								</a>
																								<%if(reply.private){%>
																									<span class="text-info"> 私密回复 </span>
																								<%}%>
																								<br>
																								<span class="text-muted small"><%:=API.Utils.formatDate(reply.postTime)%></span>
																							</a>
																						</div>
																						<div class="messageText ml-4 container m-1">
																							<%/* 回复内容 */%>
																							<p><%:=API.Common.formatContent(reply.content)%></p>
																							<%/* 回复图片 */%>
																							<%if(reply.pic){%>
																								<div class="comment-lightgallery">
																									<%for (let cmIdx = 0; cmIdx < reply.pic.length; cmIdx++) {%>
																										<%const image = reply.pic[cmIdx];%>
																										<a class="comment-img-lightbox" data-idx="<%:=cmIdx%>" data-sub-html="<%:=API.Common.formatContent(comment.content)%>" 
																											data-src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>">
																											<img src="<%:=(image.custom_filepath || image.custom_url || image.o_url || image.hd_url || image.b_url || image.s_url || image.url)%>" class="comment-img img-thumbnail">
																										</a>
																									<%}%>
																								</div>
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>
																	<%}%>
																</div>
															</div>
														</div>
													<%}%>
												<%}%>
											</div>
											<%/* 分享源来源 */%>
											<%if(share.source && share.source.from){%>
												<ul class="list-group list-group-flush ml-3">
													<li class="list-group-item">
														<%if(share.source.from.name){%>
															<span class="text-secondary">来自<a target="_blank" href="<%:=share.source.from.url%>"><%:=share.source.from.name%></a> </span>
														<%}%>
														<span class="text-secondary">共分享<%:=share.source.count%>次</span>
													</li>
												</ul>
											<%}%>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer text-muted">
								<%:=API.Utils.formatDate(share.shareTime)%>
								<span class="border-primary border rounded text-primary small p-1 float-right" title="当前楼层">#<%:=total + 1 %></span>
								<span class="text-primary p-1 float-right fa fa-thumbs-up mr-2 cursor viewlikes" title="点赞列表" data-field="id" data-target="<%:=share.id%>"><%:=share.likeTotal || 0 %></span>
								<span class="text-primary p-1 float-right fa fa-eye mr-2 cursor viewVisitors" title="最近访问" data-field="id" data-target="<%:=share.id%>"><%:=share.custom_visitor && share.custom_visitor.viewCount || 0 %></span>
							</div>
						</div>
					<%}%>
				<%}%>
			<%}%>
		</div>
	</main>
</body>

</html>