/* 滚动条优化 */

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: white;
}

::-webkit-scrollbar-track-piece:no-button {}

::-webkit-scrollbar-thumb {
    background-color: #7D7D7D;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:active {
    background-color: #666;
}

body {
    min-height: 900px;
    font: normal 100% sans-serif;
}

.markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px;
}

.navbar-brand {
    padding-top: 0rem;
}

.breadcrumb {
    padding-top: 8px !important;
    margin-bottom: 0rem !important;
}

.breadcrumb-item.active {
    color: #ffc107a8;
}

.header {
    text-align: center;
}

#index_html {
    margin-top: 70px;
    margin-bottom: 56px;
}

.head-info {
    margin-top: 15px;
}

.head-avatar img {
    border-radius: 50px;
}

.list-group-item {
    border: none;
    border-radius: 15px;
}

.list-group-horizontal .list-group-item:first-child {
    border-radius: 15px;
}

.list-group-horizontal .list-group-item:last-child {
    border-radius: 15px;
}


/* 首页背景 */

.export-tips {
    margin-top: 30px;
    height: 50vh;
    filter: saturate(0.5);
    background-image: url(../images/index.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}


/* 首页描述 */

.export-tips h5 {
    position: fixed;
    bottom: 0px;
    right: 8px;
    color: white;
}


/* 首页模块导航 */

.data-info {
    margin-top: 30px;
}


/* 头像 */

.avatar {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: .2em 0 0;
}


/* 日志列表 */

#blogs-list .list-group-item {
    border-radius: 15px;
}

#blogs-list img {
    max-width: 10vw;
    max-height: 225px;
}

#blogs-list .fa {
    line-height: inherit;
}


/* 日志分类 */

#blogs-types {
    max-height: 90%;
    overflow: auto;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1030;
}


/* 日志样式 */

#blog_content {
    border: solid #e9ecef 1px;
    border-radius: 10px;
}


/* 日志图片等比缩放 */

#blog_content img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


/* 留言样式 */

.boards {
    top: 40px;
    position: relative;
}

.boards h1,
.boards h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}

.boards .card {
    border-radius: 15px;
}

.border {
    border-radius: 15px;
}

.favorites {
    top: 57px;
    position: relative;
}

.favorites img {
    max-width: 100%;
    max-height: 100%;
}

.dropdown-menu {
    min-width: auto;
}

.medias {
    display: flex;
    flex-wrap: wrap;
}

.medias-item {
    cursor: pointer;
    box-sizing: border-box;
    border: 1.5px solid transparent;
    overflow: hidden;
}

.content a {
    cursor: pointer;
}

.content img {
    cursor: pointer;
}

.photo-video {
    background: url(../images/video-play.png) no-repeat;
    height: 64px;
    width: 64px;
    opacity: .8;
    cursor: pointer;
    position: absolute;
}

.message-video {
    background: url(../images/video-play.png) no-repeat;
    height: 64px;
    width: 64px;
    opacity: .7;
    cursor: pointer;
    position: absolute;
}


/*markdown_box*/

.html_header {
    display: block;
    height: 60px;
    line-height: 46px;
    border-bottom: 1px solid #E6ECF1;
    text-align: left !important;
}

.html_header span::after {
    content: "QQ空间导出助手";
    font-size: 17px;
    font-weight: bold;
}

.html_header span::before {
    content: "❖";
    font-size: 19px;
    font-weight: bold;
    margin: 0 8px 0 5px;
    color: #1284d9
}

#write {
    margin: 50px 50px 50px 260px;
    padding: 20px 60px;
    max-width: unset;
    background: #fff;
    border: 1px solid #E6ECF1;
    box-shadow: 0 2px 8px rgba(116, 129, 141, .08);
    border-radius: 4px
}


/*scroll_style*/

.AnchorContent {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin-right: 0 !important
}

.AnchorContent::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0) !important;
    position: absolute;
    right: 10px
}

.AnchorContent::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0) !important
}

.AnchorContent::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: none;
    opacity: 0 !important;
    transition: all .3s
}

.AnchorContent:hover::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #d4d6d8;
    border-right: 2px solid #fff;
    opacity: 1;
}

.AnchorContent::-webkit-scrollbar-thumb:hover {
    background-color: #c0c2c4 !important
}


/*导航*/

.BlogAnchor {
    background: #fff;
    line-height: 180%;
    position: fixed;
    height: 100%;
    width: 210px;
    left: 0;
    top: 56px;
    border-right: 1px solid #E6ECF1;
}

.BlogAnchor p {
    font-size: 20px;
    color: #444;
    margin: 0 16px;
    text-align: center;
}

.BlogAnchor .AnchorContent {
    padding: 5px 0px;
    overflow: auto;
}

.BlogAnchor li {
    text-indent: 1.5rem;
    font-size: 14px;
    list-style: none;
    padding: 0 0px;
}

.BlogAnchor li .nav_item {
    padding: 3px 16px;
}

.BlogAnchor li .item_h1 {
    margin-left: 0rem;
    padding-left: 3px;
    font-weight: bold;
}

.BlogAnchor li .item_h2 {
    margin-left: 0;
    font-size: 0.8rem;
    padding-left: 18px;
    color: #708090
}

.BlogAnchor li .item_h3 {
    margin-left: 0;
    font-size: 0.5rem;
    padding-left: 30px;
    color: #708090;
}

.BlogAnchor li .nav_item.current {
    color: #087cd2;
    background-color: rgba(238, 242, 249, .8);
    border-left: 4px solid #087cd2;
    text-indent: 20px;
    font-weight: bold;
}


/* 左侧导航徽章数 */

.BlogAnchor li .nav_item .itemSize {
    text-indent: 0px;
    float: right;
    margin-top: 7px;
}

#AnchorContentToggle {
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    display: inline-block;
    line-height: 20px;
    background: rgb(7, 196, 189);
    font-style: normal;
    padding: 1px 8px;
}

.BlogAnchor a:hover {
    color: #087cd2;
    background: rgba(238, 242, 249, .5);
}

.BlogAnchor a {
    text-decoration: none;
    color: #333;
    display: block;
    border-radius: 0px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 1rem;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-3px) scale(1.02);
}

.tz-gallery .caption {
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}


/* 相册、相片下方统计信息 */

.pic-num-wrap {
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    height: 50px;
    text-align: right;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(26, 26, 26, .4));
}

.pic-num {
    display: inline-block;
    margin: 20px 5px 0 0;
    font-size: 26px;
    line-height: 1;
    font-family: "Gulim";
    color: #FFF;
}

.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow-x: hidden;
    text-align: center;
    background-color: black !important;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.lightbox img {
    height: 100%;
    width: inherit;
}

.data-info .list-group-item {
    padding: .75rem 0.25rem !important;
}

.comment-img {
    height: 100px !important;
    width: 100px !important;
    cursor: pointer;
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

pre {
    font: inherit !important;
    white-space: pre-wrap;
}

.timeline2-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline2-centered:before,
.timeline2-centered:after {
    content: " ";
    display: table;
}

.timeline2-centered:after {
    clear: both;
}

.timeline2-centered:before,
.timeline2-centered:after {
    content: " ";
    display: table;
}

.timeline2-centered:after {
    clear: both;
}

.timeline2-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    background: #f5f5f6;
    top: 20px;
    bottom: 20px;
    margin-left: 26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.timeline2-centered .timeline2-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline2-centered .timeline2-entry:before,
.timeline2-centered .timeline2-entry:after {
    content: " ";
    display: table;
}

.timeline2-centered .timeline2-entry:after {
    clear: both;
}

.timeline2-centered .timeline2-entry:before,
.timeline2-centered .timeline2-entry:after {
    content: " ";
    display: table;
}

.timeline2-centered .timeline2-entry:after {
    clear: both;
}

.timeline2-centered .timeline2-entry.begin {
    margin-bottom: 0;
}

.timeline2-centered .timeline2-entry.left-aligned {
    float: left;
}

.timeline2-centered .timeline2-entry.left-aligned .timeline2-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline2-centered .timeline2-entry.left-aligned .timeline2-entry-inner .timeline2-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline2-centered .timeline2-entry.left-aligned .timeline2-entry-inner .timeline2-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner {
    position: relative;
    margin-left: 35px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner:before,
.timeline2-centered .timeline2-entry .timeline2-entry-inner:after {
    content: " ";
    display: table;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner:after {
    clear: both;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner:before,
.timeline2-centered .timeline2-entry .timeline2-entry-inner:after {
    content: " ";
    display: table;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner:after {
    clear: both;
}

.timeline2-time {
    height: 45px;
    width: 45px;
    background: #fff;
    color: #737881;
    display: block;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-top: 40px;
    line-height: 45px;
    margin-left: -55px;
    border: 1px solid #eaeaea;
}

.timeline2-icon {
    background: #fff;
    color: #737881;
    display: block;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    float: left;
    margin-top: 40px;
    line-height: 60px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-icon {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-year .timeline2-icon {
    width: 70px;
    height: 70px;
    border: 3px solid #eaeaea;
    margin-left: -33px;
    line-height: 65px;
    font-size: 25px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-month .timeline2-icon {
    border: 3px solid #eaeaea;
    margin-left: -24px;
    height: 50px;
    width: 50px;
    line-height: 45px;
    font-size: 15px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-day .timeline2-icon {
    border: 3px solid #eaeaea;
    margin-left: -24px;
    height: 50px;
    width: 50px;
    line-height: 45px;
    font-size: 15px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label {
    position: relative;
    background: #f5f5f5;
    padding: 15px;
    margin-left: 75px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-top: 45px;
    border: 0px solid #eaeaea;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 20px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f5 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label h2,
.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label p {
    margin: 0;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label p+p {
    margin-top: 15px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label h2 a {
    color: #4d9cf8;
}

.timeline2-centered .timeline2-entry .timeline2-entry-inner .timeline2-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}

.timeline2-icon i {
    font-size: 28px;
}

.timeline2-icon img {
    vertical-align: inherit;
}

.visitor-list {
    margin-top: .5rem !important;
}

.visitor-list .list-group-item {
    background-color: inherit;
}

.visitor-list .list-group-item .poster_img>a {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.visitor-list .list-group-item .poster_img>a>img {
    width: 100px;
    height: 100px;
}

.visitor-list .list-group-item .album {
    width: 110px;
}


/* 相册相片列表赞、评论、浏览按钮样式 */


/* 点赞 */

#albums_html .thumbnail .viewlikes,
.photos .thumbnail .viewlikes,
.videos .thumbnail .viewlikes {
    font-size: 18px;
    line-height: 1.5;
}


/* 评论 */

#albums_html .thumbnail .viewcomments,
.photos .thumbnail .viewcomments,
.videos .thumbnail .viewcomments {
    font-size: 18px;
    line-height: 1.5;
}


/* 最近浏览 */

#albums_html .thumbnail .viewVisitors,
.photos .thumbnail .viewVisitors,
.videos .thumbnail .viewVisitors {
    font-size: 18px;
    line-height: 1.5;
}


/* 相册相片数量 */

.album-photo-total {
    position: absolute;
    right: 0;
    font-size: larger;
    background-color: #28a745cc;
}


/* 九宫格-图片左右上下居中 */


/* 九宫格单图样式 */

.medias-item:nth-last-child(1):first-child {
    flex: 0 0 35%;
}

.message-lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-lightbox-external {
    display: flex;
    justify-content: center;
    align-items: center;
}

.medias-item img {
    object-fit: cover;
}


/* 九宫格双列样式 */

.two {
    max-width: 550px;
    overflow: hidden;
}

.two .message-lightbox {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.two .message-lightbox-external {
    width: 250px;
    height: 250px;
    overflow: hidden;
}


/* 九宫格三列样式 */

.three {
    max-width: 500px;
    overflow: hidden;
}

.three .message-lightbox {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.three .message-lightbox-external {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.message-infos>.list-group-item {
    padding: .25rem 1.25rem;
}


/* 有全文时，限制高度 */

.messageText pre.hasMore {
    height: 13rem !important;
    overflow: hidden;
}


/* 查看全文时，不限制高度 */

.messageText pre.more {
    height: auto !important;
}


/* 查看全文图标样式 */

.readMore {
    display: block;
    text-align: center;
}


/* 评论人头像 */

.comment .avatar {
    width: 40px;
    height: 40px;
}


/* 相册右侧评论样式 */

.lg-comment-body {
    padding-left: 10px;
}


/* 相册画廊左侧图片展示区 */

.lg-outer.lg-comment-active {
    width: auto;
    right: 25%;
    left: 10px;
}


/* 相册画廊右侧评论展示区 */

.lg-outer.lg-comment-active .lg-comment-box {
    left: auto;
    top: 0;
    width: 25%;
    bottom: 0;
    position: fixed;
    right: 0;
    max-height: none;
}

.lg-outer.lg-comment-active .lg-comment-overlay {
    visibility: hidden;
}

.lg-comment-toggle.lg-icon.has-comments {
    color: #007bff !important;
}

.lg-comment-box {
    overflow-y: auto;
    overflow-x: hidden;
}

.empty-comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-comment-box .empty-comments .content {
    top: 50%;
    position: fixed;
}

.lg-comment-box .comments.border-top {
    border-top: none !important;
    border-bottom: 1px solid #dee2e6 !important;
}


/* 画廊相册视频预览图不拉伸 */

.lg-outer .lg-video-cont .lg-object {
    width: auto !important;
    height: 100% !important;
}

.lg-outer .lg-object.lg-video-poster {
    width: auto !important;
    height: 100% !important;
}


/* 懒加载样式 */

.lazyload.loading {
    width: 100% !important;
}

.messages {
    top: 57px;
    position: relative;
}


/* 相册样式 */

#albums_html .thumbnail a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: black !important;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


/* 好友列表样式 */

#friends-table img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}

#friends-list img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#friends-list .list-group-item {
    border-radius: 15px;
}

#friends-list .fa {
    line-height: inherit;
}

#friends-types {
    max-height: 90%;
    overflow: auto;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1030;
}


/* 好友列表左边距 */

#friends-type-list {
    left: 25%;
}


/* 好友图标下边距 */

#friends-type-list .list-inline {
    margin-bottom: 0.3rem;
    margin-left: 4rem;
}

#friends-type-list .align-middle.mb-2>span {
    margin-bottom: 0.3rem;
    margin-left: 1.5rem !important;
}


/* 评论人内容 */

.comment-text {
    margin-left: 45px;
}


/* 语音 */

audio {
    max-width: 80%;
}


/* 留言引用 */

#boards_html .comment_quote {
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f5f5f5;
}


/* 相册、相片、视频名称、描述 */

.card-body {
    padding: 1.25rem 0.5rem !important;
}


/* 引用块，比如转发的说说、分享的来源 */

blockquote.source {
    border-left: 0.35rem solid #dee2e6 !important;
    padding-left: 0.75rem;
}

@media (max-width: 576px) {
    /* 首页 */
    .export-tips {
        background-size: 100% 100%;
        height: 232px;
    }
    /* 头像 */
    .avatar {
        width: 35px;
        height: 35px;
    }
    /* 评论人头像 */
    .comment-avatar>.avatar {
        width: 35px;
        height: 35px;
    }
    /* 左侧导航 */
    #BlogAnchor {
        display: none !important;
    }
    /* 日志分类 */
    #blogs-types {
        display: none;
    }
    /* 日志列表 */
    #blogs-type-list {
        left: 0;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
    }
    /* 好友分组 */
    #friends-types {
        display: none;
    }
    /* 好友列表 */
    #friends-type-list {
        left: 0;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
    }
    /* 相册列表 */
    #albums_html .card-img {
        width: inherit;
        height: 250px;
    }
    #albums_html .thumbnail {
        width: 100%;
    }
    /* 相片列表 */
    .photos .card-img {
        width: inherit;
        height: 250px;
    }
    .photos .thumbnail {
        width: 100%;
    }
    .photos .lightbox {
        height: 250px;
    }
    /* 视频列表 */
    .videos .lightbox {
        height: 250px;
    }
    /* 九宫格单图样式 */
    .medias-item:nth-last-child(1):first-child {
        flex: 0 0 90%;
    }
    /* 九宫格两列布局 */
    .two {
        max-width: 350px;
        overflow: hidden;
    }
    /* 九宫格两列布局 */
    .two .message-lightbox {
        width: 150px !important;
        height: 150px !important;
        overflow: hidden;
    }
    .two .message-lightbox-external {
        width: 150px !important;
        height: 150px !important;
        overflow: hidden;
    }
    /* 九宫格三列布局 */
    .three {
        max-width: 350px;
        overflow: hidden;
    }
    /* 九宫格两列布局 */
    .three .message-lightbox {
        width: 100px !important;
        height: 100px !important;
        overflow: hidden;
    }
    .three .message-lightbox-external {
        width: 100px !important;
        height: 100px !important;
        overflow: hidden;
    }
    /* 相册画廊左侧图片展示区 */
    .lg-outer.lg-comment-active {
        right: 0 !important;
    }
    /* 相册画廊右侧评论展示区 */
    .lg-outer.lg-comment-active .lg-comment-box {
        width: 100% !important;
    }
}

@media (min-width: 576px) {
    /* 头像 */
    .avatar {
        width: 35px;
        height: 35px;
    }
    /* 评论人头像 */
    .comment-avatar>.avatar {
        width: 35px;
        height: 35px;
    }
    /* 左侧导航 */
    #BlogAnchor {
        display: none !important;
    }
    /* 日志分类 */
    #blogs-types {
        display: none;
    }
    /* 日志列表 */
    #blogs-type-list {
        left: 0;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
    }
    /* 好友分组 */
    #friends-types {
        display: none;
    }
    /* 好友列表 */
    #friends-type-list {
        left: 0;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
    }
    /* 相册列表 */
    #albums_html .card-img {
        width: inherit;
        height: 250px;
    }
    #albums_html .thumbnail {
        width: 100%;
    }
    /* 相片列表 */
    .photos .card-img {
        width: inherit;
        height: 250px;
    }
    .photos .thumbnail {
        width: 100%;
    }
    .photos .lightbox {
        height: 250px;
    }
    /* 视频列表 */
    .videos .card-img {
        width: inherit;
        height: 250px;
    }
    .videos .thumbnail {
        width: 250px;
    }
    .videos .lightbox {
        height: 250px;
    }
    /* 九宫格两列布局 */
    .two {
        max-width: 350px;
        overflow: hidden;
    }
    /* 九宫格两列布局 */
    .two .message-lightbox {
        width: 150px !important;
        height: 150px !important;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    /* 左侧导航 */
    #BlogAnchor {
        display: none !important;
    }
    /* 日志分类 */
    #blogs-types {
        display: none;
    }
    /* 日志列表 */
    #blogs-type-list {
        left: 0;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
    }
    /* 好友分组 */
    #friends-types {
        display: none;
    }
    /* 好友列表 */
    #friends-type-list {
        left: 0;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
    }
    /* 相册列表 */
    #albums_html .card-img {
        width: inherit;
        height: 175px;
    }
    #albums_html .thumbnail {
        width: 175px;
    }
    #albums_html .pic-num-wrap {
        top: 125px;
    }
    /* 相片列表 */
    .photos .card-img {
        width: inherit;
        height: 175px;
    }
    .photos .thumbnail {
        width: 175px;
    }
    .photos .lightbox {
        height: 175px;
    }
    .photos .pic-num-wrap {
        top: 125px;
    }
    /* 视频列表 */
    .videos .card-img {
        width: inherit;
        height: 175px;
    }
    .videos .thumbnail {
        width: 175px;
    }
    .videos .lightbox {
        height: 175px;
    }
    .videos .pic-num-wrap {
        top: 125px;
    }
    /* 九宫格两列布局 */
    .two {
        max-width: 350px;
        overflow: hidden;
    }
    /* 九宫格两列布局 */
    .two .message-lightbox {
        width: 150px !important;
        height: 150px !important;
        overflow: hidden;
    }
}

@media (min-width: 1000px) {
    /* 头像 */
    .avatar {
        width: 40px;
        height: 40px;
    }
    /* 评论人头像 */
    .comment-avatar>.avatar {
        width: 40px;
        height: 40px;
    }
    /* 左侧导航 */
    #BlogAnchor {
        display: block !important;
    }
    /* 说说 */
    #messages_html,
    #albums_html,
    #boards_html,
    #favorites_html,
    #shares_html,
    #visitors_html {
        max-width: 60vw;
    }
    /* 日志分类 */
    #blogs-types {
        display: block !important;
    }
    /* 日志列表 */
    #blogs-type-list {
        left: 18%;
        max-width: 60vw;
        flex: auto;
    }
    /* 好友分组 */
    #friends-types {
        display: block !important;
    }
    /* 好友列表 */
    #friends-type-list {
        left: 18%;
        max-width: 60vw;
        flex: auto;
    }
    /* 相册列表 */
    #albums_html .card-img {
        width: inherit;
        height: 180px;
    }
    #albums_html .thumbnail {
        width: 180px;
    }
    #albums_html .pic-num-wrap {
        top: 130px;
    }
    /* 相片列表 */
    .photos .card-img {
        width: inherit;
        height: 180px;
    }
    .photos .thumbnail {
        width: 180px;
    }
    .photos .lightbox {
        height: 180px;
    }
    .photos .pic-num-wrap {
        top: 130px;
    }
    /* 视频列表 */
    .videos .card-img {
        width: inherit;
        height: 180px;
    }
    .videos .thumbnail {
        width: 180px;
    }
    .videos .lightbox {
        height: 180px;
    }
    .videos .pic-num-wrap {
        top: 130px;
    }
    /* 九宫格两列布局 */
    .two {
        max-width: 31vw;
    }
    /* 九宫格两列布局 */
    .two .message-lightbox {
        width: 14vw !important;
        height: 14vw !important;
    }
}

@media (min-width: 1400px) {
    /* 相册列表 */
    #albums_html .card-img {
        width: inherit;
        height: 250px;
    }
    #albums_html .thumbnail {
        width: 250px;
    }
    #albums_html .pic-num-wrap {
        top: 200px;
    }
    /* 相片列表 */
    .photos .card-img {
        width: inherit;
        height: 300px;
    }
    .photos .thumbnail {
        width: 300px;
    }
    .photos .lightbox {
        height: 300px;
    }
    .photos .pic-num-wrap {
        top: 250px;
    }
    /* 视频列表 */
    .videos .card-img {
        width: inherit;
        height: 300px;
    }
    .videos .thumbnail {
        width: 300px;
    }
    .videos .lightbox {
        height: 300px;
    }
    .videos .pic-num-wrap {
        top: 250px;
    }
}

.tooltip-inner {
    max-width: 600px !important;
}