body {
    min-height: 100vh;
    font: normal 16px sans-serif;
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
}

.BlogAnchor {
    top: 56px;
}

.markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px;
}

.navbar-brand {
    padding-top: 0rem;
}

.breadcrumb {
    padding-top: 8px !important;
    margin-bottom: 0rem !important;
}

.breadcrumb-item.active {
    color: #ffc107a8;
}

.header {
    top: 70px;
    position: relative;
    text-align: center;
}

.head-info {
    margin-top: 15px;
}

.head-avatar img {
    border-radius: 50px;
}

.list-group-item {
    border: none;
    border-radius: 15px;
}

.list-group-horizontal .list-group-item:first-child {
    border-radius: 15px;
}

.list-group-horizontal .list-group-item:last-child {
    border-radius: 15px;
}

.export-tips {
    margin-top: 30px;
    height: 400px;
    filter: saturate(0.5);
    background-image: url(../images/index.jpg);
    background-size: 100% 100%;
    background-position: center center;
    border-radius: 20px;
    color: white;
}

.export-tips h4 {
    position: fixed;
    bottom: 0px;
    right: 8px;
}

.data-info {
    margin-top: 30px;
}

#blog_content {
    border: solid #6c757d 1px;
    padding: 20px;
    border-radius: 15px;
}

.boards {
    top: 40px;
    position: relative;
}

.boards h1, .boards h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}

.boards .card {
    border-radius: 15px;
}

.avatar {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin: .2em 0 0;
}

.border {
    border-radius: 15px;
}

.messageText img {
    max-width: 100%;
}

.messages {
    top: 57px;
    position: relative;
}

.messages img {
    max-width: 100%;
    max-height: 100%;
}

.favorites {
    top: 57px;
    position: relative;
}

.favorites img {
    max-width: 100%;
    max-height: 100%;
}

.dropdown-menu {
    min-width: auto;
}

.medias {
    display: flex;
    flex-wrap: wrap;
}

.medias-item {
    cursor: pointer;
    flex: 0 0 33%;
    box-sizing: border-box;
    border: 1.5px solid transparent;
    overflow: hidden;
}

.medias-item:first-child:nth-last-child(4)~.medias-item:nth-child(2) {
    margin-right: 33%;
}

.content a{
    cursor: pointer;
}

.content img{
    cursor: pointer;
}

.photo-video{
    background: url(../../vendor/lightgallery/img/video-play.png) no-repeat;
    height: 64px;
    width: 64px;
    opacity: .8;
    cursor: pointer;
    position: absolute;
    top: 85px;
    left: 115px;
}